@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Dynamo.Ui.Web.Data.DynamoUiWebContext DB
@using Dynamo.Ui.Web
@rendermode InteractiveServer


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredMovies" Pagination="paginationState">
    <PropertyColumn Property="movie => movie.Title" Sortable="true">
       <ColumnOptions>
         <div>
            <input type="search" autofocus @bind="titleFilter" @bind:event="oninput" />
         </div>
       </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="movie => movie.ReleaseDate" Title="Release Date" />
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new() { ItemsPerPage = 2 };
    string titleFilter = string.Empty;
    IQueryable<Movie> FilteredMovies => DB.Movie.Where(movie => movie.Title!.Contains(titleFilter));
}
