@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

This web site is just a place to practice ideas around Blazor, WebAssembly, C#, Cloud Formation, Code Pipeline, S3 Lambda integration, Github Actions, CSLA .NET
